<div th:fragment="consumoTotaisChart(totalValor, totalHoras, consumoTotalKwh)" class="stats-container">
    <!-- Título opcional para identificar cada instância -->

    <div class="stat-card">
        <h3>Total Gasto</h3>
        <p th:text="${totalValor}">0</p>
    </div>

    <div class="stat-card">
        <h3>Total Horas Medidas</h3>
        <p th:text="${totalHoras}">0.0</p>
    </div>

    <div class="stat-card">
        <h3>Total consumo(Kwh)</h3>
        <p th:text="${consumoTotalKwh}">0,0</p>
    </div>
</div>